html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %dmsans-400;
  font-size: 16px;
  line-height: 24px;
  color: $text;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 40px;
  color: $secondary-title;
  margin-bottom: 30px;
}

.page-top {
  padding: 30px;
  text-align: center;
  background-color: $top-bg;
  color: #222933;
  &__title {
    @extend %rubik-300;
    font-size: 36px;
    margin-bottom: 15px;
  }
}

.breadcrumps {
  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  &__item {
    position: relative;
    opacity: 0.6;
    @extend %rubik-400;
    font-size: 14px;
    &::after {
      content: "/";
      position: absolute;
      right: -13px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
